html, body {
    font-family: 'Nunito', 'Open Sans';
    font-weight: 200;
    height: 100%;
    margin: 0;
}

#navbar-image {
  height: 3rem;
}

#bg-image {
  background-image: url('/images/amazon_background.jpg');
  height: 60vh;
}

#goods_slider {
  margin-top: 100px;
  color: #fff;
}

#sticky-footer {
  font-size: 1.5rem;
}

#brand {
  font-size: 1.5rem;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.title {
    font-size: 84px;
}

#link {
    font-size: 1.2rem;
}

.m-b-md {
    margin-bottom: 30px;
}
